node_modules/
dist/
.env
.env.local
.DS_Store
*.log
apps/api/data/*.json
!apps/api/data/.gitkeep
apps/api/runtime/
*.tsbuildinfo

runtime/*
!runtime/.gitkeep

secrets/docker/*
!secrets/docker/.gitkeep
secrets/ca/*
!secrets/ca/.gitkeep
